/* Global styles */

/* Ensure consistent layout when scrollbars appear */
html {
  scrollbar-gutter: stable; /* helps prevent layout shift when scrollbars appear */
}

/* Firefox */
* {
  scrollbar-width: auto;
  scrollbar-color: #333 #ddd;
}

/* WebKit (Chrome, Edge (Chromium), Safari) */
*::-webkit-scrollbar {
  width: 14px;
  height: 14px;
}

*::-webkit-scrollbar-track {
  background: #ddd;
  border-radius: 10px;
}

*::-webkit-scrollbar-thumb {
  background: #333;
  border-radius: 10px;
  border: 2px solid #f1f1f1;
}

*::-webkit-scrollbar-thumb:hover {
  background: #000;
}

/* Dark mode adjustments */
@media (prefers-color-scheme: dark) {
  * {
    scrollbar-color: #666 #333;
  }
  *::-webkit-scrollbar-track {
    background: #333;
  }
  *::-webkit-scrollbar-thumb {
    background: #666;
    border: 2px solid #333;
  }
  *::-webkit-scrollbar-thumb:hover {
    background: #888;
  }
}
