<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.webServer>
    <handlers>
      <add
        name="httpPlatformHandler"
        path="*"
        verb="*"
        modules="httpPlatformHandler"
        resourceType="Unspecified" />
    </handlers>

    <httpPlatform
      processPath="C:\Program Files\nodejs\node.exe"
      arguments=".\server.js"
      startupTimeLimit="300"
      requestTimeout="00:05:00"
      stdoutLogEnabled="true"
      stdoutLogFile=".\logs\node">
      <environmentVariables>
        <environmentVariable name="PORT" value="%HTTP_PLATFORM_PORT%" />
        <environmentVariable name="NODE_ENV" value="production" />
        <environmentVariable name="CORS_ORIGINS" value="https://ticketmanagement-ab491.firebaseapp.com,https://ticketmanagement-ab491.web.app" />
        <environmentVariable name="DATABASE_URL" value="postgresql://neondb_owner:npg_aEfo9kztT6OH@ep-winter-heart-amz2m4pw-pooler.c-5.us-east-1.aws.neon.tech/ticket_management?sslmode=require&amp;channel_binding=require" />
        <environmentVariable name="DATABASE_SSL" value="true" />
        <environmentVariable name="JWT_SECRET" value="18e0b5b5745ed150613f6df8a139d4ff0919dd1ad061e82ac2bd04dd5cee46c293ad5b21f10db000e1d92d22ec964a819987750fa0810ae5a137cabab4f0252c" />
        <environmentVariable name="REFRESH_TOKEN_SECRET" value="4b93e98f81fc0ef85131c8b127f8efde87b31ba7863943d58bb2d1f0f02d2e2a499c0bcd871c633cfd02a084009a71e606668d23b2d3c36fd83058034e17d744" />
        <environmentVariable name="ACCESS_TOKEN_EXPIRES_IN" value="15m" />
        <environmentVariable name="REFRESH_TOKEN_EXPIRES_IN" value="7d" />
        <environmentVariable name="TENANT_CACHE_MAX" value="500" />
        <environmentVariable name="TENANT_CACHE_TTL_MS" value="60000" />
        <environmentVariable name="TENANT_CACHE_MISS_TTL_MS" value="10000" />
        <environmentVariable name="ESCALATION_INTERVAL_MINUTES" value="60" />
        <environmentVariable name="EMAIL_INGEST_ENABLED" value="false" />
      </environmentVariables>
    </httpPlatform>
  </system.webServer>
</configuration>
